* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  /* max-height: 100vh; */
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.result-summary-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 73.7rem;
  height: 100%;
  max-height: 52rem;
  margin-left: auto;
  margin-right: auto;
}
.result-component {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    185deg,
    hsl(252deg 100% 67%) 0%,
    hsl(251deg 97% 66%) 10%,
    hsl(250deg 95% 65%) 22%,
    hsl(249deg 92% 63%) 48%,
    hsl(248deg 90% 62%) 63%,
    hsl(247deg 88% 61%) 72%,
    hsl(246deg 86% 59%) 80%,
    hsl(245deg 84% 58%) 87%,
    hsl(243deg 83% 56%) 94%,
    hsl(241deg 81% 54%) 100%
  );
  border-radius: 30px;
  z-index: 1;
}
.result--title {
  color: hsl(222, 100%, 96%);
  font-size: 2.5rem;
  padding-top: 6rem;

  font-weight: 800;
}
.number-circle-container {
  width: 200px;
  height: 20rem;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #4e21ca 10%, #2421ca00 100%);
  border-radius: 50%;
  padding: 1rem 3rem;
  margin-bottom: 2.5rem;
}
.large--number {
  color: hsl(221, 100%, 96%, 1);
  font-weight: 800;
  font-size: 6.4rem;
}
.small--number {
  color: #ebf1ff86;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}
.result-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.great {
  color: hsl(221, 100%, 96%, 1);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.result-summary {
  color: #ebf1ff86;
  font-size: 1.8rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}
.summary-component {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 4.5rem;
  border-radius: 0px 20px 20px 0px;

  background-color: #fff;
  margin-left: -12px;
  box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
}
.summary-heading {
  padding-top: 7rem;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 3.5rem;
  color: hsla(224, 30%, 27%, 0.868);
}
.summary-reaction {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.result-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first--action {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}
.action--name {
  font-size: 1.5rem;
  font-weight: 800;
}
.text--red {
  color: hsl(0, 100%, 67%);
}
.col--red {
  background-color: hsl(0, 100%, 67%, 0.1);
  border-radius: 8px;
}
.scored {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
}
span {
  color: #777;
  font-weight: 800;
}
.bold--text {
  font-weight: 800;
  color: hsla(0, 0%, 0%, 0.723);
}
.text-yellow {
  color: hsl(39, 100%, 56%);
}
.col--yellow {
  background-color: hsla(39, 100%, 56%, 0.107);
  border-radius: 8px;
}
.text--teal {
  color: hsl(166, 100%, 37%);
}
.col--teal {
  background-color: hsl(166, 100%, 37%, 0.1);
  border-radius: 8px;
}
.text--blue {
  color: hsl(234, 85%, 45%);
}
.col--blue {
  background-color: hsl(234, 85%, 45%, 0.1);
  border-radius: 8px;
  margin-bottom: 5rem;
}
.btn {
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
  border: none;
  background-color: hsl(224, 30%, 27%);
  border-radius: 3rem;
  margin-bottom: 3.4rem;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  background-image: linear-gradient(
    to top,
    rgba(78, 33, 202, 0.442),
    hsla(241, 72%, 46%, 0.732)
  );
}

@media (max-width: 775px) {
  .summary-component {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .result-summary-component {
    flex-direction: column;
    margin-top: 0rem;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
  }
  .result-component {
    height: auto;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }
  .summary-component {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 0 auto;
    background-color: #fff;
    margin-left: 0px;
    box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
    -webkit-box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 10px 0px 13px 0px rgba(51, 51, 51, 0.2);
  }
}
